body
{
    margin: 0;
    padding: 0;
    color: #f1f1f1;
    background-color: #12151f;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header
{
    padding: 1rem;
    color: #ffffff;
    background-color: #39405e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul li a
{
    margin: 0 10px;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: underline;
    background-color: #12151f;
    border-radius: 5px;
    transition: 0.2s ease;  
}

header ul li:hover
{
    transform: scale(103%);
    text-shadow: 2px 2px 2px #39405e;
}

h1
{
    font-size: 3rem;
}